* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-container{
    height : 100vh;
    width: 100vw;
    background-image: url("../assets/twitter-img1.png");
    /* opacity: 0.5; */
  }

  .container{
    display: block;
    height : 60vh;
    width: 50vw;
    background-color: black;
    margin: 20vh 20vw 20vh 20vw;
  }