* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  /* landing page */


  .main-container{
    height : 100vh;
    width: 100vw;
    background-image: url("../assets/landing\ image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .container{
    display: block;
    height : 80%;
    width: 60%;
    background-color: black;
    opacity: 0.8;
    border-radius: 50px;
    position: absolute;
    margin-top: 5%;

  }

  .opacity{
    opacity: 0.5;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
  }

  .inputs1{
    width: 70%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }

  .blue{
    color: blue;
    cursor: pointer;
  }


  
/* SignUp */


.inputs2{
  width: 70%;
  padding: 12px 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.btn{
  background-color: blue;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

/* Home Page */

.nav-bar{
  height: 80px;
  width :100vw;
  background-color: purple;
  position: fixed;
}

.pages {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.pages > li {
  margin: 30px 20px 0px 50px;
  cursor: pointer;
}

.pages > li:first-child {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: lightblue;
  padding: 70px;
  padding-top: 150px;
}


.boxes{
  background-color: lightsalmon;
  border-radius: 50px;
  height: 400px;
  width: 300px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.boxes > div{
  padding: 20px 0px 0px 20px;
}

.icons-box{
  display: flex;
  justify-content: space-around;
}

.img-box > img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

