* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  /* landing page */
  .main-container{
    height : 100vh;
    width: 100vw;
    background-image: url("../assets/landing\ image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .container{
    display: block;
    height : 70%;
    width: 60%;
    background-color: black;
    opacity: 0.8;
    border-radius: 50px;
    position: absolute;
    margin-top: 5%;

  }

  .opacity{
    opacity: 0.5;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #ccc;
  }

  input[type=text],input[type=password], select {
    width: 70%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }

  .blue{
    color: blue;
  }
